* {
margin: 0;
padding: 0; 
box-sizing: border-box;
font-family: 'Gilroy';
}

html, body{ 
height: 100%;
width: 100%;
}

body{
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

#page1{
    height: 100%;
    width: 100%;
    background-color: cornsilk;
}

#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(131, 108, 18);
}

#page2 h1{
    font-size: 42vw;
    font-weight: 600;
    width:fit-content;
}

#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(43, 34, 0);
}