  * {
margin: 0;
padding: 0; 
box-sizing: border-box;
font-family: 'Gilroy';
}

html, body{ 
height: 100%;
width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #e4e0e0;
    position: relative;
    padding-top: 0.1px;
}

#nav{
    height: 12vh;
    width: 100%;
    /* background-color: crimson; */
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav h1{
    /* background-color: aqua; */
    height: 100%;
    width: 21%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Monument;
    font-size: 40px;
    letter-spacing: -1px;
}

#nav h2{
    /* background-color: aqua; */
    height: 100%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 28px;
    font-weight: 700;
    font-family:sans-serif
}

#nav h2:nth-last-child(2){
    width: 29%;
    /* background: #000; */
}
#nav h2:nth-last-child(1){
    width: 12%;
}

#center{
    height: 80%;
    width: 100%;
    /* background-color: crimson; */
    position: relative;
    padding: 3vw;
}

#content{
    height: 100%;
    width: 100%;
    position: relative;
    /* background-color: aquamarine; */
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 58%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: aqua; */
    padding: 3vw;
    color: #ffff;
}

#overlay:hover{
    backdrop-filter: blur(20px);
}

#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vh;
}

#over1 h1{
    font-family: Monument;
    font-size: 3vw;
    font-weight: 500;
    /* mix-blend-mode:difference */
}

#over1 h2{
    /* font-family: Monument; */
    font-size: 1vw;
    /* font-weight: 500; */
    padding: 2vw 2.2vw;
    /* background-color: blue; */
    border: 2px solid white;
    border-radius: 50%;
    /* border-bottom: 2px solid #ffff; */
}

#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top:2px solid white;
    padding: 1.8vw ;
}

#over2 h4{
    font-family: sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
}

#over2 img{
    height: 3vw;
}

#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: rgb(177, 0, 0); */
    padding: 1vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container{
    height: 100%;
    width: 100%;
    /* background-color: rgb(15, 67, 77); */
    display: inline-block;
    padding: 2vw;
    /* margin: 2vw; */
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll img{
    /* display: none; */
    height:100%;
    border-radius: 50%;
    width: 14.3%;
    margin: 1.1vw;
    object-fit: cover;
    object-position: center;
}

@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{    
        transform: translateX(-100%);   
    }
}

#alphabet{
    height: 12vh;
    width: 100%;
    /* background-color: crimson; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#alphabet h5{
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid rgb(0, 0, 0);
    letter-spacing: 6px;
    font-family: sans-serif;
}

#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0.4vw 0.6vw;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0);
    font-family: Monument;
    transition: all ease 0.2s;
    /* font-style: italic; */
    /* border-bottom: 2px solid black; */
    /* letter-spacing: 6px; */
}

#alphabet h6:hover{
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: black;
}

#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
    background-color: #e4e0e0;
    margin-top: 20px;
}

#page2 #part-1{
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: center;
    border-radius: 120px 0px;
    background-image: url(https://images.unsplash.com/photo-1735052713180-2dd81cbe3281?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#page2 #part-2{
    height: 100%;
    width: 40%;
    /* background-image: url(); */
}

#page2 #part-2 img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-radius: 0px 120px ;
}

#page2 #part-2 #para{
    height:30%;
    width: 100%;
    /* background-color: crimson; */
    display: flex;
}

#page2 #part-2 #para{
    height:30%;
    width: 100%;
    gap: 5vw;
    margin-top: 4vh;
    /* padding: 2vw; */
}

#page2 #part-2 #para h5{
    height:100%;
    width: 40%;
    /* background-color: aqua; */
    font-family: sans-serif;
    font-size: 1vw;
}

#page2 #part-2 #para h6{
    height:100%;
    width: 60%;
    /* background-color: rgb(11, 36, 36); */
    font-size: 0.8vw;
    font-family: sans-serif;
}

#quote{
    margin-top: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    /* display: flex; */
    height: 12vh;
    padding: 8px;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* background-color: crimson; */
}

#quote h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* background-color: aqua; */
    height: 10vh;
    width: 100%;
    font-family: Monument;
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 400;
    letter-spacing: 7px;
}

/* Page 3 start here */

#page3{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
    background-color: #e4e0e0;
    margin-top: 20px;
}

#page3 #page-left{
    height: 100%;
    width: 40%;
    /* background-image: url(); */
}

#page3 #page-left img{
    /* display: flex; */
    background-color: black;
    margin-top: 15vh;
    margin-left: 7vw;
    background-color: #e4e0e0;
    height: 50%;
    width: 70%;
    object-fit: cover;
    border-radius: 0px 120px ;
}

#page3 #page-left #paragraph{
    /* display: flex; */
    margin-top: 8vh;
    margin-left: 9vw;
    width: 60%;
}

#page3 #page-left #paragraph h5{
    font-family: sans-serif;
    font-size: 1.5vw;
    align-items: center;
    justify-content: center;
}

#page3 #page-right{
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: center;
    border-radius: 120px 0px;
    background-image: url(https://images.unsplash.com/photo-1639945506968-3dea2042c861?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

/* end here */

/* Page 4 start here*/
#page4{
    height: 100%;
    width: 100%;
    padding: 5vw;
    background-color: #e4e0e0;
    position: relative;
}

#page4 #pic{
    position: relative;
    height: 100%;
    width: 100%;
    /* background-color: crimson; */
}

#page4 #pic img{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2vw;
}

#flow{
    margin-top: 2%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: end;
    top: 0;
    height: 14%;
    /* background-color: brown; */
    width:100%;
    padding: 2vw;
}

#flow h2{
    /* width:7%; */
    align-items: center;
    justify-content:center;
    color: white;
    text-align: center;
    font-family: Monument;
    font-size: 1vw;
    font-weight: 500;
    padding: 2vw 2.2vw;
    border: 2px solid white;
    border-radius: 50%;
}

#flow:hover
{
    backdrop-filter: blur(20px);
}
/* page4 End */

/* Page 5 start here */

#page5{
    height: 100%;
    width: 100%;
    background-color: #e4e0e0;
    position: relative;
    padding: 5vw 4vw;
}

#page5>h1{
    text-align: center;
    font-family: Monument;
    text-transform: uppercase;
    font-size: 3vw;
    /* font-weight: 600; */
    margin-bottom: 7vh;
}

.elem{
    height: 18vh;
    width: 100%;
    /* background-color: aqua; */
    border-top: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

.elem .elem1{
    width: 50%;
}

.elem h4{
    font-size: 2vw;
    font-family: sans-serif;
    text-transform: uppercase;
    width: 5%;
    font-weight: 300;
}

.elem:nth-last-child(1){
    border-bottom: 3px solid black;
}